<nav>
  <div class="banner-wrapper">
    <img class="banner" src="../assets/img/landing-banner.png" alt="" srcset="" />
    <div class="container-fluid banner-content">
      <!-- fixed-top -->
      <div class="banner-navbar">
        <div class="row">
          <div class="col-lg-2 justify-content-center d-flex">
            <img class="logo" src="../assets/img/Logo.png" alt="" srcset="">
          </div>
          <div class="col-lg-8 search-bar justify-content-center d-flex">
            <div class="search-area">
              <input class="nav-search" type="text" name="" id="" placeholder="Search the discussions">
              <img class="search-icon" src="../assets/img/search-icon.png" alt="" srcset="">
            </div>
            
          </div>
          <div class="col-lg-2 language-selector justify-content-center d-flex">
            <div class="selector-area">
              <img class="selector-icon" src="../assets/img/language_black.png" alt="" srcset="">
              <button class="lang-selector">
                <!-- <div id="google_translate_element"></div> -->
                <select name="" id="" class="selector-dropdown">
                  <option value="" selected>English</option>
                  <option value="">Tamil</option>
                  <option value="">Sinhala</option>
                </select>
              </button>
            </div>
            
          </div>
        </div>
      </div>
      <div class="banner-text">
        <div class="text-heading">
          <p>Welcome to the Future Policy Forum!</p>
        </div>
        <div class="text-intro">
          <p>Share knowledge and meet other members who are creating a nation where anyone can belong.</p>
        </div>
        <div class="landing-button-wrapper">
          <button class="landing-button">Start a Conversation</button>
        </div>
      </div>
    </div>
  </div>

</nav>
<section class="section-area">
  <div class="section-area">
    <div class="categories container">
      <div class="row">
        <div class="col-lg-10">
          <p class="title">Discussion Categories</p>
        </div>
        <div class="col-lg-2">
          <p class="seemore">See more</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-3">
          <div class="category">
            <img class="category-img" src="../assets/img/discussion-categories/education.png" alt="" srcset="">
            <p class="category-heading">Education <span><img class="chevron" src="../assets/img/discussion-categories/chevron_right_black_24dp (6)@2x.png" alt="" srcset=""></span></p>
            <p class="category-content">Lorem ipsum dolor sit amet, consctetur adipiscing elit, mod tempor.</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="category">
            <img class="category-img" src="../assets/img/discussion-categories/education.png" alt="" srcset="">
            <p class="category-heading">Health <span><img class="chevron" src="../assets/img/discussion-categories/chevron_right_black_24dp (6)@2x.png" alt="" srcset=""></span></p>
            <p class="category-content">Lorem ipsum dolor sit amet, consctetur adipiscing elit, mod tempor.</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="category">
            <img class="category-img" src="../assets/img/discussion-categories/agri.png" alt="" srcset="">
            <p class="category-heading">Agriculture <span><img class="chevron" src="../assets/img/discussion-categories/chevron_right_black_24dp (6)@2x.png" alt="" srcset=""></span></p>
            <p class="category-content">Lorem ipsum dolor sit amet, consctetur adipiscing elit, mod tempor.</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="category">
            <img class="category-img" src="../assets/img/discussion-categories/transport.png" alt="" srcset="">
            <p class="category-heading">Transport <span><img class="chevron" src="../assets/img/discussion-categories/chevron_right_black_24dp (6)@2x.png" alt="" srcset=""></span></p>
            <p class="category-content">Lorem ipsum dolor sit amet, consctetur adipiscing elit, mod tempor.</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
<article class="main-content container">
  <div class="row">
    <div class="col-8">
      <div class="article-area">
        <ul class="nav nav-tabs article-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active tab-item" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Top</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Recent</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div>
              <p class="article-heading">
                What is the level of education in Sri Lanka?
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim praesent elementum facilisis leo. Vitae tempus quam pellentesque nec nam aliquam sem. Arcu cursus vitae congue mauris rhona…
                <span>read more</span>
              </p>
              <img class="article-img" src="../assets/img/content/post_one.png" alt="" srcset="">
              <div class="row article-tool-bar">
                <div class="col-lg-3 user-icon-main"><span><img class="user-icon" src="../assets/img/content/user.png" alt=""></span><span class="user-name">by Ruwan123</span></div>
                <div class="col-lg-9 user-tool-bar">
                  <div class="tool-bar-misc"><span><img class="article-misc-icon" src="../assets/img/content/calendar_month_black_24dp@2x.png" alt=""></span> 26-10-2022</div>
                  <div class="tool-bar-misc"><span><img class="article-misc-icon" src="../assets/img/content/comment_black_24dp@2x.png" alt=""></span> 19 Replies</div>
                  <div class="tool-bar-misc"><span><img class="article-misc-icon" src="../assets/img/content/visibility_black_24dp (1)@2x.png" alt=""></span> 215 Views</div>
                  <div class="tool-bar-misc"><span><img class="article-misc-icon" src="../assets/img/content/thumb_up_black_24dp@2x.png" alt=""></span> 16 Likes</div>
                  <div class="tool-bar-misc"><span><img class="article-misc-icon" src="../assets/img/content/thumb_down_black_24dp@2x.png" alt=""></span> 2 Dislikes</div>
                </div>
              </div>
              <div class="row article-tags">
                <div class="col-lg-2">#EDUCATION</div>
                <div class="col-lg-2">#CHILDREN</div>
                <div class="col-lg-2">#PROJECTSA</div>
              </div>
              <hr>
            </div>
            <div>
              <p class="article-heading">
                Service is provided by the state-run Sri Lanka Transport Board (SLTB) and privately owned buses**
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim praesent elementum facilisis leo. Vitae tempus quam pellentesque nec nam aliquam sem. Arcu cursus vitae congue mauris rhona…
                <span>read more</span>
              </p>
              <img class="article-img" src="../assets/img/content/Mask Group 5@2x.png" alt="" srcset="">
              <div class="row article-tool-bar">
                <div class="col-lg-3 user-icon-main"><span><img class="user-icon" src="../assets/img/content/user.png" alt=""></span><span class="user-name">by Ruwan123</span></div>
                <div class="col-lg-9 user-tool-bar">
                  <div class="tool-bar-misc"><span><img class="article-misc-icon" src="../assets/img/content/calendar_month_black_24dp@2x.png" alt=""></span> 26-10-2022</div>
                  <div class="tool-bar-misc"><span><img class="article-misc-icon" src="../assets/img/content/comment_black_24dp@2x.png" alt=""></span> 19 Replies</div>
                  <div class="tool-bar-misc"><span><img class="article-misc-icon" src="../assets/img/content/visibility_black_24dp (1)@2x.png" alt=""></span> 215 Views</div>
                  <div class="tool-bar-misc"><span><img class="article-misc-icon" src="../assets/img/content/thumb_up_black_24dp@2x.png" alt=""></span> 16 Likes</div>
                  <div class="tool-bar-misc"><span><img class="article-misc-icon" src="../assets/img/content/thumb_down_black_24dp@2x.png" alt=""></span> 2 Dislikes</div>
                </div>
              </div>
              <div class="row article-tags">
                <div class="col-lg-2">#EDUCATION</div>
                <div class="col-lg-2">#CHILDREN</div>
                <div class="col-lg-2">#PROJECTSA</div>
              </div>
              <hr>
            </div>
            
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim praesent elementum facilisis leo. Vitae tempus quam pellentesque nec nam aliquam sem. Arcu cursus vitae congue mauris rhona…
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <!-- sticky-top -->
      <div class="row side-nav">
        <div class="col-12">
          <ul class="custom-card">
            <li class="custom-card-heading">Popular tags</li>
            <li class="custom-card-chip">education</li>
            <li class="custom-card-chip">agriculture</li>
            <li class="custom-card-chip">transport</li>
            <li class="custom-card-chip">garment</li>
            <li class="custom-card-chip">animals</li>
            <li class="custom-card-chip">constructions</li>
            <li class="custom-card-chip">highways</li>
            <li class="custom-card-chip">health</li>
            <li class="custom-card-chip">covid19</li>
            <li class="custom-card-chip">media</li>
            <li class="custom-card-chip">constructions</li>
            <li class="custom-card-chip">sport</li>
          </ul>
        </div>
        <div class="col-12">
          <ul class="custom-card">
            <li class="custom-card-heading">Start the Conversation</li>
            <li class="custom-card-desc">Please write to your ideas/ views on any area which you prefer. We will definitely be providing a space for your opinion.</li>
            <li><button class="custom-card-btn">Start Today</button></li>
          </ul>
        </div>
        <div class="col-12">
          <ul class="custom-card">
            <li class="custom-card-heading">Digital Publications</li>
            <li class="custom-card-link">Dhammika Perera | Sri Lanka 2030 A Dev… <span>https://www.dhammikaperera.lk/index.html</span></li>
            <li class="custom-card-link">Vistas of Prosperity and Splendour <span>https://www.treasury.gov.lk/national-policy</span></li>
            <li class="custom-card-link">UNP Manifesto 2020 <span>https://www.apiunp.com/wp-content/uploads/2…</span></li>
            <li class="custom-card-link">JVP Sri Lanka <span>https://www.jvpsrilanka.com/</span></li>
            <li class="custom-card-seemore">See more</li>
          </ul>
        </div>
      </div>
     
    </div>
  </div>
  
  
</article>

<footer class="footer-area">
  <div class="footer-overall">
    <div class="row footer-content">
      <div class="col-5">
        <ul class="footer-list">
          <li><img class="footer-logo" src="../assets/img/Logo/Logo@2x.png" alt="" srcset=""></li>
          <li>Let's make a national policy framework suitable for our country for the next twenty years.</li>
          <li>
            <span><img class="footer-social-media-fb" src="../assets/img/footer/facebook@2x.png" alt="" srcset=""></span>
            <span><img class="footer-social-media-yt" src="../assets/img/footer/youtube@2x.png" alt="" srcset=""></span>
            <span><img class="footer-social-media-insta" src="../assets/img/footer/instagram (1)@2x.png" alt="" srcset=""></span>
            <span><img class="footer-social-media-linkedin" src="../assets/img/footer/linkedin@2x.png" alt="" srcset=""></span>
          </li>
        </ul>
      </div>
      <div class="col-3">
        <ul class="footer-list">
          <li class="footer-ul-head">Useful Links</li>
          <li>About Us</li>
          <li>All Discussion Rooms</li>
          <li>Digital Publications</li>
        </ul>
      </div>
      <div class="col-4">
        <ul class="footer-list">
          <li class="footer-ul-head">Contact Us</li>
          <li><span><img class="footer-address" src="../assets/img/footer/fmd_good_black_24dp@2x.png" alt="" srcset=""></span> 27/A, Flower Road, Cinnamon Gardens,Colombo 7</li>
          <li><span><img class="footer-email" src="../assets/img/footer/email_black_24dp@2x.png" alt="" srcset=""></span> support@futurepolicyforum.lk</li>
        </ul>
      </div>
      <hr>
    </div>
    <div class="row footer-bottom-content justify-content-between">
      <div class="col-6 footer-organization">
        © 2022 Future Policy Forum. All rights reserved. | Design and Developed by Clounote
      </div>
      <div class="col-4 footer-terms">
        Privacy Policy | Terms of Use
      </div>
    </div>
  </div>
</footer>